.my-custom-class {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  11px 11px 22px #bebebe,
             -11px -11px 22px #ffffff;
  }

  .input-field {
    background: #e0e0e0;
    box-shadow: inset 3px 3px 7px #bebebe,
            inset -3px -3px 7px #ffffff;
  }

  body {
    background-color: #e0e0e0;
  }

  .btn{
    background: #e0e0e0;
    box-shadow:  3px 3px 5px #bebebe,
                 -3px -3px 5px #ffffff;
  }

  .btn:hover {
    background: #e0e0e0;
    box-shadow: inset 3px 3px 5px #bebebe,
            inset -3px -3px 5px #ffffff;
  }

