.my-custom-class {
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  11px 11px 22px #bebebe,
             -11px -11px 22px #ffffff;
  }

  .input-field {
    background: #e0e0e0;
    box-shadow: inset 3px 3px 7px #bebebe,
            inset -3px -3px 7px #ffffff;
  }

  body {
    background-color: #e0e0e0;
  }

  .btn{
    background: #e0e0e0;
    box-shadow:  3px 3px 5px #bebebe,
                 -3px -3px 5px #ffffff;
  }

  .btn:hover {
    background: #e0e0e0;
    box-shadow: inset 3px 3px 5px #bebebe,
            inset -3px -3px 5px #ffffff;
  }



  /* .play{
    background: linear-gradient(145deg, #72ffb7, #60e69a);
    box-shadow:  3px 3px 6px #5bd991,
             -3px -3px 6px #7bffc5;
  }

  .play:hover{
    background: linear-gradient(145deg, #60e69a, #72ffb7);
    box-shadow:  3px 3px 6px #5bd991,
             -3px -3px 6px #7bffc5;
  }

  .pause {
    background: linear-gradient(145deg, #ffff72, #e4e660);
    /* box-shadow:  3px 3px 6px #d7d95b, */
                /* -3px -3px 6px #ffff7b; */
  /* } */

  /* .pause:hover{
    background: linear-gradient(145deg, #e4e660, #ffff72);
    box-shadow:  3px 3px 6px #d7d95b,
                -3px -3px 6px #ffff7b;

  }

  .reset {
    background: linear-gradient(145deg, #ff7272, #e66060);
    box-shadow:  3px 3px 6px #d95b5b,
                -3px -3px 6px #ff7b7b;
  }

  .reset:hover {
    background: linear-gradient(145deg, #e66060, #ff7272);
    box-shadow:  3px 3px 6px #d95b5b,
                -3px -3px 6px #ff7b7b;
  } */